@using HealthTracker.Mvc.Entities
@model HealthTracker.Mvc.Models.BloodPressureBandListViewModel

@{
    ViewData["Title"] = "Blood Pressure Assessment Bands";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Blood Pressure Assessment Bands
    </span>
    <br />
    <small class="text-muted">
        <em>
            Bandings used to assess blood pressure measurements
        </em>
    </small>
</p>

<div class="container-fluid">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Minimum Systolic</th>
            <th>Maximum Systolic</th>
            <th>Minimum Diastolic</th>
            <th>Maximum Diastolic</th>
        </tr>
        @foreach (var band in Model.Bands)
        {
            <tr>
                <td valign="center">@band.Name</td>
                <td valign="center">@Model.GetFormattedValue(band.MinimumSystolic)</td>
                <td valign="center">@Model.GetFormattedValue(band.MaximumSystolic)</td>
                <td valign="center">@Model.GetFormattedValue(band.MinimumDiastolic)</td>
                <td valign="center">@Model.GetFormattedValue(band.MaximumDiastolic)</td>
            </tr>
        }
    </table>
</div>
