@using HealthTracker.Mvc.Entities
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model HealthTracker.Mvc.Models.BloodGlucoseListViewModel

@{
    ViewData["Title"] = "Blood Glucose Measurements";
    var previousDisabled = (Model.PreviousEnabled) ? "" : "disabled";
    var nextDisabled = (Model.NextEnabled) ? "" : "disabled";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Blood Glucose Measurements
    </span>
    <br />
    <small class="text-muted">
        <em>
            View and manage blood glucose measurements
        </em>
    </small>
</p>


<div class="container-fluid">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="row">
            <div class="col-md-12 message">
                <span>@Html.Raw(Model.Message)</span>
            </div>
        </div>
        <hr />
    }

    @using (Html.BeginForm("Delete", "BloodGlucose", FormMethod.Post, new { name = "delete-form", id = "delete-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", 0)
    }

    @using (Html.BeginForm("Index", "BloodGlucose", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(m => m.Filters)
        @Html.HiddenFor(m => m.PageNumber)

        @if ((Model.Measurements != null) && (Model.Measurements.Count() > 0))
        {
            <table class="table">
                <tr>
                    <th>Person</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Level</th>
                    <th />
                    <th />
                </tr>
                @foreach (var measurement in Model.Measurements)
                {
                    <tr>
                        <td valign="center">@Model.Filters.SelectedPerson.Name</td>
                        <td valign="center">@measurement.Date.ToString("dd-MMM-yyyy")</td>
                        <td valign="center">@measurement.Date.ToString("HH:mm")</td>
                        <td valign="center">@measurement.Level</td>
                        <td valign="center">
                            <a class="btn btn-lg" asp-area="" asp-controller="BloodGlucose" asp-action="Edit" asp-route-id="@measurement.Id" asp-route-start="@Model.Filters.From.ToString(DateFormats.DateTime)" asp-route-end="@Model.Filters.To.ToString(DateFormats.DateTime)">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td valign="center">
                            <a class="btn btn-lg" href="javascript:submitDeleteForm(@measurement.Id)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <hr />
            <p class="text-right">
                <button type="submit" name="Action" value="@ControllerActions.ActionPreviousPage" class="btn btn-secondary" @previousDisabled>Previous</button>
                <button type="submit" name="Action" value="@ControllerActions.ActionNextPage" class="btn btn-primary" @nextDisabled>Next</button>
            </p>
        }
        else if (Model.HasNoMatchingResults)
        {
            <hr />
            @Html.Raw("No matching measurements")
        }
    }

</div>

<script type="text/javascript">
    function submitDeleteForm(id) {
        $.confirm({
            text: "Are you sure?",
            confirm: function(button) {
                $("#delete-form #id").val(id);
                $("#delete-form").submit()
            },
            cancel: function(button) {
            },
            confirmButton: "Yes",
            cancelButton: "No"
        });
    }
</script>