@using HealthTracker.Mvc.Entities
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model HealthTracker.Mvc.Models.BeverageListViewModel

@{
    ViewData["Title"] = "Beverages";
    var previousDisabled = (Model.PreviousEnabled) ? "" : "disabled";
    var nextDisabled = (Model.NextEnabled) ? "" : "disabled";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Beverages
    </span>
    <br />
    <small class="text-muted">
        <em>
            View and manage beverages
        </em>
    </small>
</p>


<div class="container-fluid">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="row">
            <div class="col-md-12 message">
                <span>@Html.Raw(Model.Message)</span>
            </div>
        </div>
        <hr />
    }

    @using (Html.BeginForm("Index", "Beverage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.PageNumber)

        @if ((Model.Beverages != null) && (Model.Beverages.Count() > 0))
        {
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Typical ABV %</th>
                    <th>Is Hydrating</th>
                    <th />
                </tr>
                @foreach (var beverage in Model.Beverages)
                {
                    var isHydrating = beverage.IsHydrating ? "Yes" : "No";
                    <tr>
                        <td valign="center">@beverage.Name</td>
                        <td valign="center">@beverage.TypicalABV.ToString("0.00")</td>
                        <td valign="center">@isHydrating</td>
                        <td valign="center">
                            <a class="btn btn-lg" asp-area="" asp-controller="Beverage" asp-action="Edit" asp-route-id="@beverage.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <hr />
            <p class="text-right">
                <button type="submit" name="Action" value="@ControllerActions.ActionPreviousPage" class="btn btn-secondary" @previousDisabled>Previous</button>
                <button type="submit" name="Action" value="@ControllerActions.ActionNextPage" class="btn btn-primary" @nextDisabled>Next</button>
                <a class="btn btn-primary" href="/Beverage/Add" role="button">Add</a>
            </p>
        }
        else if (Model.HasNoMatchingResults)
        {
            <hr />
            @Html.Raw("No matching beverages")
        }
    }

</div>
