@using HealthTracker.Mvc.Entities
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model HealthTracker.Mvc.Models.WeightListViewModel

@{
    ViewData["Title"] = "Weight Measurements";
    var previousDisabled = (Model.PreviousEnabled) ? "" : "disabled";
    var nextDisabled = (Model.NextEnabled) ? "" : "disabled";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Weight Measurements
    </span>
    <br />
    <small class="text-muted">
        <em>
            View and manage weight measurements
        </em>
    </small>
</p>


<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.EditorFor(m => m.Filters)
    
        @Html.HiddenFor(m => m.PageNumber)

        @if ((Model.Measurements != null) && (Model.Measurements.Count() > 0))
        {
            <table class="table">
                <tr>
                    <th>Person</th>
                    <th>Date</th>
                    <th>Weight</th>
                    <th>BMI</th>
                    <th>Assessment</th>
                    <th>BMR</th>
                    <th />
                </tr>
                @foreach (var measurement in Model.Measurements)
                {
                    <tr>
                        <td valign="center">@Model.Filters.SelectedPerson.Name</td>
                        <td valign="center">@measurement.Date.ToString("dd-MMM-yyyy")</td>
                        <td valign="center">@measurement.Weight.ToString(".##")</td>
                        <td valign="center">@measurement.BMI.ToString(".##")</td>
                        <td valign="center">@measurement.BMIAssessment</td>
                        <td valign="center">@measurement.BMR.ToString(".##")</td>
                        <td valign="center">
                            <a class="btn btn-lg" asp-area="" asp-controller="" asp-action="" asp-route-id="@measurement.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td valign="center">
                            <a class="btn btn-lg" asp-area="" asp-controller="" asp-action="" asp-route-id="@measurement.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <hr />
            <p class="text-right">
                <button type="submit" name="Action" value="@ControllerActions.ActionPreviousPage" class="btn btn-secondary" @previousDisabled>Previous</button>
                <button type="submit" name="Action" value="@ControllerActions.ActionNextPage" class="btn btn-primary" @nextDisabled>Next</button>
            </p>
        }
        else if (Model.HasNoMatchingResults)
        {
            <hr />
            @Html.Raw("No matching measurements")
        }
    }

</div>