@using HealthTracker.Mvc.Entities
@model HealthTracker.Mvc.Models.BloodPressureViewModel

@Html.HiddenFor(m => m.PersonName)
@Html.HiddenFor(m => m.From)
@Html.HiddenFor(m => m.To)
@Html.HiddenFor(m => m.Measurement.Id)
@Html.HiddenFor(m => m.Measurement.PersonId)

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <strong>@Html.Label("Name")</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.PersonName, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    </div>
    <br/>
    @await Html.PartialAsync("_DateAndTime", Model)
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.Measurement.Systolic)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Measurement.Systolic, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.Measurement.Systolic, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.Measurement.Diastolic)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Measurement.Diastolic, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.Measurement.Diastolic, "", new { @class = "text-danger" })</span>
        </div>
    </div>
</div>

