@model HealthTracker.Mvc.Models.FoodItemViewModel

@Html.HiddenFor(m => m.FoodItem.Id)
@Html.HiddenFor(m => m.FoodItem.NutritionalValueId)

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.Name)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.Name, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.Name, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.FoodCategoryId)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.DropDownListFor(m => m.FoodItem.FoodCategoryId, Model.FoodCategories, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.FoodCategoryId, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.Portion)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.Portion, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.Portion, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.NutritionalValue.Calories)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.NutritionalValue.Calories, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.NutritionalValue.Calories, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.NutritionalValue.Fat)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.NutritionalValue.Fat, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.NutritionalValue.Fat, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.NutritionalValue.SaturatedFat)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.NutritionalValue.SaturatedFat, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.NutritionalValue.SaturatedFat, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.NutritionalValue.Protein)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.NutritionalValue.Protein, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.NutritionalValue.Protein, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.NutritionalValue.Carbohydrates)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.NutritionalValue.Carbohydrates, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.NutritionalValue.Carbohydrates, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.NutritionalValue.Sugar)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.NutritionalValue.Sugar, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.NutritionalValue.Sugar, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FoodItem.NutritionalValue.Fibre)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.FoodItem.NutritionalValue.Fibre, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FoodItem.NutritionalValue.Fibre, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br/>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on("keydown", function (e) {
            if (e.key === "Enter") {
                e.preventDefault();
                $('#Save').click();
            }
        });
    });
</script>
