@using HealthTracker.Mvc.Entities
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model HealthTracker.Mvc.Models.PersonMedicationListViewModel

@{
    ViewData["Title"] = "Person Medications";
    var previousDisabled = (Model.PreviousEnabled) ? "" : "disabled";
    var nextDisabled = (Model.NextEnabled) ? "" : "disabled";
}

@functions {
    public string GetRowBackgroundColour(bool isActive, int daysRemaining)
    {
        if (!isActive)
        {
            return "white";
        }
        else if (daysRemaining <= Model.Settings.MedicationDaysRemainingCriticalDays)
        {
            return "#FFC0CB";
        }
        else if (daysRemaining <= Model.Settings.MedicationDaysRemainingWarningDays)
        {
            return "#FFFFE0";
        }
        else
        {
            return "white";
        }
    }

    public string ToggleAssociationSelection(string currentSelections, string checkboxName)
    {
        var associationId = checkboxName.Split("_")[1];
        var selectedIds = currentSelections.Split(",").ToList();
        var index = selectedIds.IndexOf(associationId);

        if (index >= 0)
        {
            selectedIds.RemoveAt(index);
        }
        else
        {
            selectedIds.Add(associationId);
        }

        return string.Join(",", selectedIds);
    }
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Person Medications
    </span>
    <br />
    <small class="text-muted">
        <em>
            View and manage medications for a person
        </em>
    </small>
</p>


<div class="container-fluid">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="row">
            <div class="col-md-12 message">
                <span>@Html.Raw(Model.Message)</span>
            </div>
        </div>
        <hr />
    }

    @using (Html.BeginForm("Delete", "PersonMedication", FormMethod.Post, new { name = "delete-form", id = "delete-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", 0)
    }

    @using (Html.BeginForm("Index", "PersonMedication", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("Filters", Model)
        @Html.HiddenFor(m => m.PageNumber)
        @Html.HiddenFor(m => m.SelectedAssociationIds)

        @if ((Model.Associations != null) && (Model.Associations.Count() > 0))
        {
            <table class="table">
                <tr>
                    <th/>
                    <th>Person</th>
                    <th>Medication</th>
                    <th>Active</th>
                    <th>Stock</th>
                    <th>Daily Dose</th>
                    <th>Last Taken</th>
                    <th>Actions</th>
                    <th />
                    <th />
                </tr>
                @foreach (var association in Model.Associations)
                {
                    var lastTaken = association.LastTaken.HasValue ? association.LastTaken.Value.ToString("dd-MMM-yyyy") : "-";
                    var active = association.Active ? "Yes" : "No";
                    var actions = association.Active ? string.Join(", ", association.Actions ?? []) : "";
                    var rowColor = GetRowBackgroundColour(association.Active, association.DaysRemaining());
                    var textColor = association.Active ? "black" : "lightgrey";

                    <tr style="background-color: @rowColor">
                        <td valign="center">
                            <span style="color: @textColor">
                                @if (association.Active)
                                {
                                    @Html.CheckBox($"Selected_{association.Id}")
                                }
                            </span>
                        </td>
                        <td valign="center"><span style="color: @textColor">@Model.Filters.SelectedPerson.Name</span></td>
                        <td valign="center"><span style="color: @textColor">@association.Medication.Name</span></td>
                        <td valign="center"><span style="color: @textColor">@active</span></td>
                        <td valign="center"><span style="color: @textColor">@association.Stock</span></td>
                        <td valign="center"><span style="color: @textColor">@association.DailyDose</span></td>
                        <td valign="center"><span style="color: @textColor">@lastTaken</span></td>
                        <td valign="center"><span style="color: @textColor">@actions</span></td>
                        <td valign="center">
                            <a class="btn btn-lg" asp-area="" asp-controller="PersonMedication" asp-action="Edit" asp-route-id="@association.Id" asp-route-start="@Model.Filters.From.ToString(DateFormats.DateTime)" asp-route-end="@Model.Filters.To.ToString(DateFormats.DateTime)">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td valign="center">
                            <a class="btn btn-lg" href="javascript:submitDeleteForm(@association.Id)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <hr />
            <p>
                <div style="float: left">
                    <button type="submit" name="Action" value="@ControllerActions.ActionTake" class="btn btn-primary" style="margin-right: 10px">Take</button>
                    <button type="submit" name="Action" value="@ControllerActions.ActionUnTake" class="btn btn-primary" style="margin-right: 10px">Un-take</button>
                    <button type="submit" name="Action" value="@ControllerActions.ActionSkip" class="btn btn-primary" style="margin-right: 10px">Skip</button>
                    <button type="submit" name="Action" value="@ControllerActions.ActionTakeAll" class="btn btn-primary" style="margin-right: 10px">Take All</button>
                    <button type="submit" name="Action" value="@ControllerActions.ActionUnTakeAll" class="btn btn-primary" style="margin-right: 10px">Un-take All</button>
                    <button type="submit" name="Action" value="@ControllerActions.ActionSkipAll" class="btn btn-primary" style="margin-right: 10px">Skip All</button>
                </div>
                <div style="float: right">
                    <button type="submit" name="Action" value="@ControllerActions.ActionPreviousPage" class="btn btn-secondary" @previousDisabled>Previous</button>
                    <button type="submit" name="Action" value="@ControllerActions.ActionNextPage" class="btn btn-primary" @nextDisabled>Next</button>
                </div>
            </p>
        }
        else if (Model.HasNoMatchingResults)
        {
            <hr />
            @Html.Raw("No matching measurements")
        }
    }

</div>

<script type="text/javascript">
    function submitDeleteForm(id) {
        $.confirm({
            text: "Are you sure?",
            confirm: function(button) {
                $("#delete-form #id").val(id);
                $("#delete-form").submit()
            },
            cancel: function(button) {
            },
            confirmButton: "Yes",
            cancelButton: "No"
        });
    }

    function toggleAssociationSelection(checkBoxName) {
        var newValue = "";

        // Checkbox name is the association ID with a prefix - extract the ID and retrieve
        // the current comma-separated list of selected association IDs from the form
        var id = checkBoxName.split("_")[1];
        var currentValue = $("#SelectedAssociationIds").val();

        if (currentValue == id) {
            // If the current list is just the selected ID, we're toggling it off so
            // just blank out the current list
            newValue = "";

        } else if ((currentValue != "")) {
            // Split the current selections and locate the selected ID in the resulting
            // array
            var selectedIDs = currentValue.split(",");
            var index = selectedIDs.indexOf(id);

            if (index == -1)
            {
                // Not there so we're adding it
                selectedIDs.push(id);
            }
            else
            {
                // There so we're removing it
                selectedIDs.splice(index, 1);
            }

            // Reconstruct a string containing the list of selected association IDs
            newValue = selectedIDs.join(",");

        } else {
            // If the current list is blank, we're selecting the selected ID so set
            // the list to equal it
            newValue = id;
        }

        $("#SelectedAssociationIds").val(newValue);
    }

    $(document).ready(function() {
        $("[name^='Selected']").on("click", function() {
            toggleAssociationSelection($(this).attr("name"));
        });
    });
</script>