@using HealthTracker.Mvc.Entities
@model HealthTracker.Mvc.Models.ExerciseListViewModel

<table class="table">
    <tr>
        <th>Person</th>
        <th>Date</th>
        <th>Activity</th>
        <th>Duration</th>
        <th>Distance</th>
        <th>Calories</th>
        <th>Minimum HR</th>
        <th>Maximum HR</th>
        @if (Model.Editable)
        {
            <th />
            <th />
        }
    </tr>
    @foreach (var measurement in Model.Measurements)
    {
        var distance = (measurement.Distance ?? 0M) > 0 ? measurement.Distance.Value.ToString(".##") : "-";
        <tr>
            <td valign="center">@Model.Filters.SelectedPerson.Name</td>
            <td valign="center">@measurement.Date.ToString("dd-MMM-yyyy")</td>
            <td valign="center">@measurement.ActivityType</td>
            <td valign="center">@measurement.FormattedDuration</td>
            <td valign="center">@distance</td>
            <td valign="center">@measurement.Calories</td>
            <td valign="center">@measurement.MinimumHeartRate</td>
            <td valign="center">@measurement.MaximumHeartRate</td>
            @if (Model.Editable)
            {
                <td valign="center">
                    <a class="btn btn-lg" asp-area="" asp-controller="Exercise" asp-action="Edit" asp-route-id="@measurement.Id" asp-route-start="@Model.Filters.From.ToString(DateFormats.DateTime)" asp-route-end="@Model.Filters.To.ToString(DateFormats.DateTime)">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td valign="center">
                    <a class="btn btn-lg" href="javascript:submitDeleteForm(@measurement.Id)">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            }
        </tr>
    }
</table>