@using HealthTracker.Mvc.Entities
@model HealthTracker.Mvc.Models.FoodItemListViewModel

<table class="table">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th />
        @if (Model.Editable)
        {
            <th />
            <th />
        }
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td valign="center">@item.Name</td>
            <td valign="center">@item.FoodCategory.Name</td>
            <td valign="center">
                <a class="btn btn-lg" href="javascript:LoadModalContent(@item.Id, 'FoodItem/ShowNutritionalValues')">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
            @if (Model.Editable)
            {
                <td valign="center">
                    <a class="btn btn-lg" asp-area="" asp-controller="FoodItem" asp-action="Edit" asp-route-id="@item.Id" asp-route-start="@Model.Filters.FoodCategoryId">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td valign="center">
                    <a class="btn btn-lg" href="javascript:submitDeleteForm(@item.Id)">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            }
        </tr>
    }
</table>