@using HealthTracker.Mvc.Entities
@model HealthTracker.Mvc.Models.MealConsumptionListViewModel

<table class="table">
    <tr>
        <th>Person</th>
        <th>Date</th>
        <th>Time</th>
        <th>Meal</th>
        <th>Quantity</th>
        <th />
        @if (Model.Editable)
        {
            <th />
            <th />
        }
    </tr>
    @foreach (var measurement in Model.Measurements)
    {
        <tr>
            <td valign="center">@Model.Filters.SelectedPerson.Name</td>
            <td valign="center">@measurement.Date.ToString("dd-MMM-yyyy")</td>
            <td valign="center">@measurement.Date.ToString("HH:mm")</td>
            <td valign="center">@measurement.Meal.Name</td>
            <td valign="center">@measurement.Quantity</td>
            <td valign="center">
                <a class="btn btn-lg" href="javascript:LoadModalContent(@measurement.Id, '/MealConsumption/ShowNutritionalValues')">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
            @if (Model.Editable)
            {
                <td valign="center">
                    <a class="btn btn-lg" asp-area="" asp-controller="MealConsumption" asp-action="Edit" asp-route-id="@measurement.Id" asp-route-start="@Model.Filters.From.ToString(DateFormats.DateTime)" asp-route-end="@Model.Filters.To.ToString(DateFormats.DateTime)">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td valign="center">
                    <a class="btn btn-lg" href="javascript:submitDeleteForm(@measurement.Id)">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            }
        </tr>
    }
</table>