@using HealthTracker.Mvc.Entities
@model HealthTracker.Mvc.Models.MealListViewModel

<table class="table">
    <tr>
        <th>Name</th>
        <th>Source</th>
        <th>Reference</th>
        <th />
        @if (Model.Editable)
        {
            <th />
            <th />
        }
    </tr>
    @foreach (var meal in Model.Meals)
    {
        <tr>
            <td valign="center">@meal.Name</td>
            <td valign="center">@meal.FoodSource.Name</td>
            <td valign="center">@meal.Reference</td>
            <td valign="center">
                <a class="btn btn-lg" href="javascript:LoadModalContent(@meal.Id, 'Meal/ShowNutritionalValues')">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
            @if (Model.Editable)
            {
                <td valign="center">
                    <a class="btn btn-lg" asp-area="" asp-controller="Meal" asp-action="Edit" asp-route-id="@meal.Id" asp-route-start="@Model.Filters.FoodSourceId">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td valign="center">
                    <a class="btn btn-lg" asp-area="" asp-controller="MealFoodItem" asp-action="Index" asp-route-mealId="@meal.Id">
                        <i class="fas fa-tools"></i>
                    </a>
                </td>
                <td valign="center">
                    <a class="btn btn-lg" href="javascript:submitDeleteForm(@meal.Id)">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            }
        </tr>
    }
</table>