@using HealthTracker.Mvc.Entities
@using HealthTracker.Entities.Food
@model IEnumerable<MealFoodItem>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity / Portion</th>
        <th/>
        <th/>
        <th/>
    </tr>
    @foreach (var relationship in Model)
    {
        <tr>
            <td valign="center">@relationship.FoodItem.Name</td>
            <td valign="center">@relationship.FoodItem.FoodCategory.Name</td>
            <td valign="center">@relationship.Quantity.ToString("0.0") / @relationship.FoodItem.Portion.ToString("0.0")</td>
            <td valign="center">
                <a class="btn btn-lg" href="javascript:LoadModalContent(@relationship.Id, '/MealFoodItem/ShowNutritionalValues')">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
            <td valign="center">
                <a class="btn btn-lg" asp-area="" asp-controller="MealFoodItem" asp-action="Edit" asp-route-id="@relationship.Id">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td valign="center">
                <a class="btn btn-lg" href="javascript:submitDeleteForm(@relationship.Id)">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    }
</table>